@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";  

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster+Two:ital@1&family=Merriweather&family=Montserrat:ital,wght@0,100;0,300;0,400;0,900;1,100;1,400&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;600;700&family=Sacramento&family=Tangerine&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin:0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans";
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}
code {
  font-family: source-code-pro, Menlo, Monaco,C onsolas,"Courier New",monospace;
}
h4 {
  font-size: 1rem;
  color: rgb(56,56,56)
}
button > svg {
  margin-right: 5px;
}